*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

main {
    margin: 15px;
    width: 100%;
    max-width: 600px;
}

header {
    display: flex;
    align-items: center;
    max-width: 800px;
}

h1 {
    display: flex;
    justify-content: center;
    width: 90%;
}

.btn_header {
   display: flex;
   justify-content: center;
   max-width: 10%;
}

header span {
    font-size: 22px;
}

input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 90%;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.div_insert {
    display: flex;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 5px 10px 0px gray;
}

button {
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn_add {
    display: flex;
    justify-content: center;
    font-size: 30px;
    max-width: 35px;
    margin-left: 10px;
    background-color: rgb(0, 0, 208);
    border-radius: 50%;
    padding: 5px;
    color: white;
}

.div_li {
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    border-radius: 10px;
    box-shadow: 6px 5px 10px 0px grey;
    display: flex;
    align-items: center;
}

.div_li li {
    width: 90%;
    outline: none;
    list-style: none;
}

.div_li button {
    width: 10%;
}

.btn_add:hover {
    background-color: #0000ff;
}

.btn_remove {
    font-size: x-small;
    color: rgb(228, 228, 228);
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
}

.btn_remove:hover {
    background-color: #0000ff;
    color: #ffffff;
}

@media (max-width: 775px) {
    h1 {
        white-space: nowrap;
        font-size: x-large;
    }
}